
  
#bodyid{
  height: 2000px;
  overflow: auto;
  background-Color: #EEEEEE;

  
}

body{
  position: absolute;
}

div.indiv{
  overflow: auto;
  resize: both;
}

#pop{
  background-color:  #FFFF8F;
  display: block;
  z-index: 100;
}
  
  
#input{
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 7px;
  padding-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  width: 200px;
  height: 150px;
  background-color: white;
  position: fixed;
  z-index: 100;
} 

.deleter:hover{
  background-image: url("images/delete.png");
  background-size: cover;
  display: block;
}